.header {
  position: fixed;
  inset: 0;
  height: max-content;
  width: 100%;
  z-index: 99;
  @include mq(980px) {
    position: static;
  }
  &__bg {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__nav-icon-wrapper {
    cursor: pointer;
  }
  &__nav-icon {
    color: $white;
    width: rem(24px);
    &--secondery {
      fill: $white !important;
    }
  }
  &__top {
    padding: rem(20px) 0;
    background-color: $dark-700;
  }
  &__top-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    width: rem(125px);
    height: auto;
  }
  &__form {
    display: flex;
    background-color: $white;
    border-radius: rem(3px);
  }
  &__form-input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    border-top-left-radius: rem(3px);
    border-bottom-left-radius: rem(3px);
    font-size: rem(18px);
    font-weight: 400;
    line-height: 1.4;
    width: 100%;
    padding: rem(6px);
    border: none;
    &:focus {
      outline: none;
    }
  }
  &__form-button {
    border: none;
    background-color: transparent;
    padding: rem(6px);
    cursor: pointer;
  }
  &__form-icon {
    fill: $orange-700;
    width: rem(24px);
  }
  &__top-link {
    display: flex;
    align-items: center;
    gap: rem(8px);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__top-link-image {
    width: rem(27px);
    height: rem(27px);
  }
  &__user-image {
    width: rem(35px);
    height: rem(35px);
    border-radius: 50%;
  }
  &__top-link-wrappper {
    display: flex;
    align-items: center;
    gap: rem(20px);
  }
  &__top-text {
    font-size: rem(15px);
    font-weight: 500;
    color: $white;
  }
  &__bottom {
    box-shadow: -1px 9px 5px 0px rgba($dark-600, 0.1);
    position: relative;
    inset: 0;
    z-index: 999;
    width: 100%;
    height: calc(100vh - 85px);
    display: none;
    @include mq(980px) {
      display: block;
      position: static;
      height: auto;
    }
    &--active {
      display: block !important;
    }
  }
  &__bottom-wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(6px);
    width: rem(230px);
    height: 100%;
    background-color: $white;
    padding: rem(10px) rem(8px);
    @include mq(980px) {
      padding: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: auto;
      background-color: transparent;
    }
  }
  &__bottom-link-wrapper {
    position: relative;
    padding: rem(10px) 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(20px);
    @include mq(980px) {
      display: block;
    }
    &:hover {
      .header__bottom-sublink-wrapper {
        display: flex !important;
        flex-direction: column;
        gap: rem(6px);
      }
    }
  }
  &__bottom-link {
    font-size: rem(15px);
    font-weight: 600;
    color: $dark-600;
    &:hover {
      color: $orange-700;
    }
  }
  &__bottom-icon {
    height: rem(20px);
    width: rem(20px);
  }
  &__bottom-sublink-wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 999;
    width: rem(240px);
    background-color: $white;
    padding: rem(8px);
    box-shadow: -1px -1px 5px 0px rgba($dark-600, 0.1);
  }
  &__bottom-sublink {
    font-size: rem(15px);
    font-weight: 400;
    color: $dark-400;
  }
}
