.home {
  &__products {
    display: grid;
    gap: rem(10px);
    grid-template-columns: repeat(2, minmax(0, 1fr));
    @include mq(medium) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
      gap: rem(15px);
    }
    @include mq(medium-large) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
    @include mq(large) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
}
