.product {
  &__main {
    @include mq(medium) {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: rem(25px);
    }
  }
  &__image-wrapper {
    position: relative;
    height: 0;
    padding-top: 55.25%;
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: auto;
  }
  &__heading {
    font-size: rem(18px);
    font-weight: 600;
    color: $dark-700;
  }
  &__details-wrapper {
    grid-column: span 2 / span 2;
  }
  &__details-card-wrapper {
    display: flex;
    gap: rem(6px);
    flex-wrap: wrap;
    @include mq(medium-large) {
      flex-wrap: nowrap;
    }
  }
  &__details-card {
    display: flex;
    gap: rem(6px);
    padding: rem(6px);
    background-color: $gray-100;
    border-radius: rem(6px);
  }
  &__details-card-title {
    font-size: rem(15px);
    color: $dark-400;
    font-weight: 500;
  }
  &__details-card-text {
    font-size: rem(16px);
    font-weight: 600;
    color: $dark-500;
  }
  &__color-wrapper,
  &__storage-wrapper {
    display: flex;
    align-items: center;
    gap: rem(15px);
    margin: rem(45px) 0 0;
  }
  &__storage {
    padding: rem(6px) rem(8px);
    background-color: $gray-200;
    border-radius: rem(4px);
    cursor: pointer;
    &--active {
      background-color: $orange-500;
      .product__storage-text {
        color: $dark-500;
      }
    }
  }
  &__storage-text {
    font-size: rem(14px);
    font-weight: 600;
    color: $dark-700;
  }
  &__color {
    height: rem(32px);
    width: rem(32px);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: rem(40px);
      width: rem(40px);
      border-radius: 50%;
      border: 1px solid $gray-500;
    }
    &--active::before {
      border: 1px solid $red-700;
    }
  }
  &__account,
  &__actions-wrapper {
    display: flex;
    align-items: center;
  }
  &__account {
    gap: rem(10px);
    margin-top: rem(65px);
    flex-wrap: wrap;
    @include mq(small) {
      flex-wrap: nowrap;
      gap: rem(20px);
    }
  }
  &__actions-wrapper {
    border: 1px solid $orange-700;
    border-radius: rem(4px);
  }
  &__action {
    border: none;
    background-color: transparent;
    height: rem(30px);
    width: rem(30px);
    cursor: pointer;
    @include mq(small) {
      height: rem(40px);
      width: rem(40px);
    }
  }
  &__action-input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    -moz-appearance: textfield;
    font-size: rem(16px);
    font-weight: 600;
    line-height: 1.4;
    color: $gray-700;
    text-align: center;
    width: rem(45px);
    height: rem(40px);
    border: none;
    border-left: 1px solid $orange-700;
    border-right: 1px solid $orange-700;
    border-radius: rem(4px);
    @include mq(small) {
      width: rem(61px);
      height: rem(40px);
    }
    &:focus {
      outline: none;
    }
  }
  &__button {
    font-size: rem(15px);
    font-weight: 600;
    width: rem(95px);
    height: rem(42px);
    cursor: pointer;
    color: $orange-700;
    background-color: $white;
    border: 1px solid $orange-700;
    border-radius: rem(4px);
    @include mq(small) {
      width: rem(117px);
      height: rem(42px);
    }
    &--secondey {
      color: $white;
      background-color: $orange-700;
      border: none;
    }
  }
  &__recent {
    overflow: hidden;
    margin-top: rem(45px);
  }
  &__recent-wrapper {
    display: flex;
    align-items: center;
    gap: rem(15px);
    overflow-y: scroll;
    @include mq(medium-large) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @include mq(large) {
      grid-template-columns: repeat(6, minmax(0, 1fr));
    }
  }
  &__description {
    margin-top: rem(75px);
  }
  &__description-button-wrapper {
    display: flex;
    gap: rem(10px);
    border-bottom: 1px solid $orange-700;
  }
  &__description-button {
    font-size: rem(12px);
    font-weight: 500;
    width: rem(80px);
    height: rem(35px);
    cursor: pointer;
    color: $orange-700;
    background-color: $white;
    border: 1px solid $orange-700;
    border-bottom: none;
    border-radius: rem(2px);
    @include mq(small) {
      font-size: rem(15px);
      font-weight: 600;
      width: rem(117px);
      height: rem(42px);
    }
    &--active {
      color: $white;
      background-color: $orange-700;
      border: none;
    }
  }
  &__description-content-wrapper {
    margin-top: rem(15px);
  }
  &__content {
    a {
      text-decoration: none;
    }

    h1,
    .h1 {
      font-size: $h1;
      @include mq(medium) {
        font-size: $h1-md;
      }
    }
    h2,
    .h2 {
      font-size: $h2;
      @include mq(medium) {
        font-size: $h2-md;
      }
    }
    h3,
    .h3 {
      font-size: $h3;
      @include mq(medium) {
        font-size: $h3-md;
      }
    }
    h4,
    .h4 {
      font-size: $h4;
    }
    h5,
    .h5 {
      font-size: $h5;
    }
    h6,
    .h6 {
      font-size: $h6;
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: $medium;
      line-height: 1.4;
      img {
        width: 100%;
      }
    }
    p {
      &:not(:last-child) {
        margin-bottom: rem(20px);
      }
      img {
        width: 100%;
      }
    }
    img {
      width: 100%;
    }
    a:focus,
    button:focus {
      outline: 0;
    }
    a {
      color: $dark-900;
      text-decoration: none;
      &:hover {
        color: $green-600;
      }
    }
    ul,
    li {
      padding: 0;
      margin: 0;
      list-style-position: inside;
      color: $dark-900;
    }
    strong {
      padding: rem(10px) 0;
      margin: rem(15px) 0;
      display: block;
      // border-bottom: 1px solid #c7c7c7;
      // border-top: 1px solid #c7c7c7;
    }
  }
}
